@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<HeadlineBlock>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Models
@using Umbraco.Cms.Core.Models.Blocks

<h2>@Model.Content.Headline</h2>