################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FormDemoSolution/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/.vs/FormDemoSolution/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/.vs/FormDemoSolution/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/.vs/FormDemoSolution/FileContentIndex/c3a54b00-f302-4fab-80c0-c4eb104afb23.vsidx
/.vs/FormDemoSolution/FileContentIndex/3e8f7838-1313-49a5-a6f1-84f619240494.vsidx
/.vs/FormDemoSolution/FileContentIndex/9bcc1c7f-7589-4133-8621-48a99db2a87d.vsidx
/.vs/FormDemoSolution/v17/.suo
/.vs/FormDemoSolution/v17/DocumentLayout.backup.json
/.vs/FormDemoSolution/v17/DocumentLayout.json
/.vs/FormDemoSolution/FileContentIndex/391a6ec6-5cd1-419d-9c99-e684c409e47e.vsidx
/.vs/FormDemoSolution/FileContentIndex/4cf39ab3-3620-4021-b05a-7bfc5301675c.vsidx
/.vs/FormDemoSolution/FileContentIndex/8bbd07ab-2789-44f0-ba9c-33a1fcd6eeba.vsidx
/.vs/FormDemoSolution/FileContentIndex/998e0758-9578-4a3c-ab3f-47cf5483bef0.vsidx
/.vs/FormDemoSolution/FileContentIndex/d8493dcf-9768-4571-a5e0-45ec31afdb8a.vsidx
/.vs/FormDemoSolution/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/.vs/FormDemoSolution/DesignTimeBuild/.dtbcache.v2
/.vs/FormDemoSolution/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/.vs/FormDemoSolution/CopilotIndices/17.12.53.23981/CodeChunks.db
/.vs/FormDemoSolution/FileContentIndex/0121636d-3628-48de-834b-e1a5b8428b71.vsidx
/.vs/FormDemoSolution/FileContentIndex/f9ce0821-e7ad-4c0c-a58a-113537c487a2.vsidx
/.vs/FormDemoSolution/FileContentIndex/d3b5d828-316e-4f32-8df7-01d682921a4a.vsidx
/.vs/FormDemoSolution/FileContentIndex/71880ceb-8096-4f52-b005-6f2baafe2fdb.vsidx
/.vs/FormDemoSolution/FileContentIndex/7a9c5cf1-ffaa-4b4e-9384-bcf489845c17.vsidx
/.vs/FormDemoSolution/v17/.futdcache.v2
/.vs/FormDemoSolution/FileContentIndex/d3b5d828-316e-4f32-8df7-01d682921a4a.vsidx
/.vs/FormDemoSolution/FileContentIndex/d3b5d828-316e-4f32-8df7-01d682921a4a.vsidx
/.vs/FormDemoSolution/FileContentIndex/71880ceb-8096-4f52-b005-6f2baafe2fdb.vsidx
/.vs/FormDemoSolution/FileContentIndex/d3b5d828-316e-4f32-8df7-01d682921a4a.vsidx
/.vs/FormDemoSolution/FileContentIndex/71880ceb-8096-4f52-b005-6f2baafe2fdb.vsidx
/.vs/FormDemoSolution/FileContentIndex/d3b5d828-316e-4f32-8df7-01d682921a4a.vsidx
/.vs/FormDemoSolution/FileContentIndex/bcab1ff1-00df-400b-92f0-09a87e3f8115.vsidx
/.vs/FormDemoSolution/FileContentIndex/9e872771-136f-4bf0-80bc-a5fa59cac224.vsidx
/.vs/FormDemoSolution/FileContentIndex/967c3f42-9b98-4024-b0ed-a0ec06262919.vsidx
/.vs/FormDemoSolution/FileContentIndex/2521e045-f768-4cd4-acdd-9c9a8db43525.vsidx
/.vs/FormDemoSolution/FileContentIndex/0283e541-107c-41e2-8bf5-971c43b7b878.vsidx
/.vs/ProjectEvaluation/formdemosolution.projects.v9.bin
/.vs/ProjectEvaluation/formdemosolution.metadata.v9.bin
/.vs/FormDemoSolution/FileContentIndex/cef6b526-94ca-4568-bfe9-e54ad04abfee.vsidx
/.vs/FormDemoSolution/FileContentIndex/ccef1e1f-8af6-4bdd-ba76-7acd66cfb990.vsidx
/.vs/FormDemoSolution/FileContentIndex/a627ce10-45ff-488f-8ca5-71be9bac56c8.vsidx
/.vs/FormDemoSolution/FileContentIndex/19e17a38-ae01-4430-9b2f-7a13aa8afcaf.vsidx
/.vs/FormDemoSolution/FileContentIndex/55f0451c-a513-4cd1-9b95-36ebbcd7bef5.vsidx
/.vs/FormDemoSolution/FileContentIndex/47e2f0b7-a0db-4bf1-b756-4d4dff12c9e1.vsidx
/.vs/FormDemoSolution/FileContentIndex/d73a4dba-96e1-4377-85b3-e9380d87378d.vsidx
/.vs/FormDemoSolution/FileContentIndex/d73a4dba-96e1-4377-85b3-e9380d87378d.vsidx
/.vs/FormDemoSolution/FileContentIndex/19083858-2ba8-4324-93e3-99f33e153e15.vsidx
/.vs/FormDemoSolution/FileContentIndex/0784e427-0140-44ad-93f1-09084cdc3a88.vsidx
/.vs/FormDemoSolution/FileContentIndex/9067c5d6-6bc7-4233-b06f-cf2d7477d65b.vsidx
/.vs/ProjectEvaluation/formdemosolution.strings.v9.bin
/.vs/FormDemoSolution/FileContentIndex/ff6ce60d-874b-4271-b1bc-4d0b84e2503b.vsidx
/.vs/FormDemoSolution/FileContentIndex/ff65383d-7493-4c89-b274-b8c6f0a7748a.vsidx
/.vs/FormDemoSolution/FileContentIndex/8084b9d7-078a-40e7-a1da-7f1a97177c02.vsidx
/.vs/FormDemoSolution/FileContentIndex/06a176a6-1fcb-43f9-95f0-c0139e4c04c2.vsidx
/.vs/FormDemoSolution/FileContentIndex/d6e6f994-a798-40ea-836d-b71cb71a5438.vsidx
/.vs/FormDemoSolution/FileContentIndex/9950f5cb-6916-4b1d-aef4-634225b5937b.vsidx
/.vs/FormDemoSolution/FileContentIndex/94c33cf5-df3c-43c5-8f31-473fe8b3c184.vsidx
/.vs/FormDemoSolution/FileContentIndex/6a0cfebe-2095-4528-b2a4-79582d89595d.vsidx
/.vs/FormDemoSolution/FileContentIndex/a9737269-e7ea-4485-8562-5a93608b5e49.vsidx
/.vs/FormDemoSolution/FileContentIndex/90716afd-f219-494d-af0b-861605d922ad.vsidx
/.vs/FormDemoSolution/FileContentIndex/b58d0e5b-a81a-40d9-acf5-81cf9deb427c.vsidx
/.vs/FormDemoSolution/FileContentIndex/8f9d3b14-ecbd-4d62-aab5-32d35ed1358f.vsidx
/.vs/FormDemoSolution/FileContentIndex/8e2f732e-9afc-4f90-bef9-d3aa8f6f52a6.vsidx
/.vs/FormDemoSolution/FileContentIndex/996d7855-4414-40f1-a26e-38fe320ae0bf.vsidx
/.vs/FormDemoSolution/FileContentIndex/fb4d717e-922c-41ec-98b4-5a5888b764cc.vsidx
/.vs/FormDemoSolution/FileContentIndex/0f0fbce2-7d49-41ad-88c6-c43fefc1426b.vsidx
/.vs/FormDemoSolution/FileContentIndex/fe5d47fe-1047-4be2-930a-2e323563d9b9.vsidx
/.vs/FormDemoSolution/FileContentIndex/5ca99179-2dad-4d38-9642-080bbea019b2.vsidx
/.vs/FormDemoSolution/FileContentIndex/4092ad3f-187b-4376-8c44-e316b4575e0c.vsidx
/.vs/FormDemoSolution/FileContentIndex/1d509385-3a19-49fd-8e27-bd428dbcd049.vsidx
/.vs/FormDemoSolution/FileContentIndex/a9d29cca-e0c8-46ff-8f90-57d00c0f3a39.vsidx
/.vs/FormDemoSolution/FileContentIndex/2062689b-c788-49ac-905e-a16ad75f15e6.vsidx
/.vs/FormDemoSolution/FileContentIndex/491e3078-3f7a-407b-95a6-7be81fb5cc38.vsidx
/.vs/FormDemoSolution/FileContentIndex/d8f6f1c9-40fb-4c4e-8977-7b3461a07d59.vsidx
/.vs/FormDemoSolution/FileContentIndex/1197d122-e439-4c71-a9d6-da070e3a03e6.vsidx
/.vs/FormDemoSolution/FileContentIndex/c9586189-8637-4fde-977f-73a16b19b142.vsidx
/.vs/FormDemoSolution/FileContentIndex/9d68a332-7944-492a-a754-2b976ff5235b.vsidx
/.vs/FormDemoSolution/FileContentIndex/e2d048a4-7c48-4675-8b06-be8f160e51f7.vsidx
/.vs/FormDemoSolution/FileContentIndex/d657c90e-0636-4062-be7b-4280055804c0.vsidx
/.vs/FormDemoSolution/FileContentIndex/dc41939c-f80b-41a6-9282-cd928780e7d2.vsidx
/.vs/FormDemoSolution/FileContentIndex/9c203665-7935-4c6d-884b-f3a67ae90b02.vsidx
/.vs/FormDemoSolution/FileContentIndex/87784350-f04f-42c9-b81f-0ae262c7857e.vsidx
/.vs/FormDemoSolution/FileContentIndex/8d997649-14da-45ec-8107-40f61a907e77.vsidx
/.vs/FormDemoSolution/FileContentIndex/280f7ba0-4ca3-4152-a94f-7bb9b684cb82.vsidx
/.vs/FormDemoSolution/FileContentIndex/b1923e7d-41dc-477c-8a4a-e56228752b77.vsidx
/.vs/FormDemoSolution/FileContentIndex/5d1526fe-481c-4dff-a029-cdc1d12a9550.vsidx
/.vs/FormDemoSolution/FileContentIndex/f7a27670-e136-485a-b74e-f0c9107ef0b5.vsidx
/.vs/FormDemoSolution/FileContentIndex/dcc9a6e4-67c0-49f2-91c1-c6fea4ecc6a7.vsidx
/.vs/FormDemoSolution/FileContentIndex/edf362d7-863d-4f2f-81dd-b7228765a4ce.vsidx
/.vs/FormDemoSolution/FileContentIndex/9a87db65-bb18-4558-a02c-5c8767e7cc41.vsidx
/.vs/FormDemoSolution/FileContentIndex/8144abdb-7d33-4f61-8f35-ba92bdfe117f.vsidx
/.vs/FormDemoSolution/FileContentIndex/cb692bff-050b-4314-a22f-0c01adf2f56c.vsidx
/.vs/FormDemoSolution/FileContentIndex/a658ac8e-5d4f-4fc4-b05b-5481cbfc8188.vsidx
/.vs/FormDemoSolution/FileContentIndex/76cc2bbb-cc0a-4fb5-bba9-6ba43eb5779e.vsidx
/.vs/FormDemoSolution/FileContentIndex/0b9b4f8b-13eb-4c91-9e9c-5ed9d48b6763.vsidx
/.vs/FormDemoSolution/FileContentIndex/e0854708-d891-41ec-8439-c81577e3cc28.vsidx
/.vs/FormDemoSolution/FileContentIndex/d14ab4c9-6add-4e2c-8ab1-8a1c905f9770.vsidx
/.vs/FormDemoSolution/FileContentIndex/47ffa517-e87a-4ea7-be8f-d53e95623283.vsidx
/.vs/FormDemoSolution/FileContentIndex/0df9a4d3-1ea9-4411-948b-15489b6cbbbd.vsidx
/.vs/FormDemoSolution/FileContentIndex/dbe5210e-78d8-4c37-8d62-4dfae050bdce.vsidx
/.vs/FormDemoSolution/FileContentIndex/c94b57ef-a804-4f0e-b9c5-c70cb4554d6d.vsidx
/.vs/FormDemoSolution/FileContentIndex/8b744ca3-f09d-4702-82b3-54b04e35a1f0.vsidx
/.vs/FormDemoSolution/FileContentIndex/78e6c916-bd78-43d4-9857-3a7eb0ee62e6.vsidx
/.vs/FormDemoSolution/FileContentIndex/b65b50a2-e82d-4bdd-b649-af16667b675d.vsidx
/.vs/FormDemoSolution/FileContentIndex/c290faa3-249f-446a-8113-f620f12201f6.vsidx
/.vs/FormDemoSolution/FileContentIndex/bb1b2806-71a9-4da5-9f79-444af84defc2.vsidx
/.vs/FormDemoSolution/FileContentIndex/3b47d507-5dd3-4917-b880-3abd488a889f.vsidx
/.vs/FormDemoSolution/FileContentIndex/d162d61a-7624-45c1-b128-6f3f9fbb839b.vsidx
/.vs/FormDemoSolution/FileContentIndex/95378c42-e571-4857-905d-8bb9e369cece.vsidx
/.vs/FormDemoSolution/FileContentIndex/bbb7a603-ad21-4d58-adfb-bbf68f459d8d.vsidx
/.vs/FormDemoSolution/FileContentIndex/cf207415-8c7e-4aeb-a704-a3532aec45b3.vsidx
/.vs/FormDemoSolution/FileContentIndex/bb92feab-e474-43a0-beb9-318e6b487a34.vsidx
/.vs/FormDemoSolution/FileContentIndex/04802667-6cdf-4ac6-b736-71beef6034c1.vsidx
/.vs/FormDemoSolution/FileContentIndex/d5897f14-8d5b-40ca-9f15-9773d14cb333.vsidx
/.vs/FormDemoSolution/FileContentIndex/544484ab-edb0-46d4-af46-269dcd5a84e8.vsidx
/.vs/FormDemoSolution/FileContentIndex/903ad1ff-9943-479c-ae18-2e65ea21c69e.vsidx
/.vs/FormDemoSolution/FileContentIndex/e24f61bf-9bba-4c54-8bdd-86d26d47411c.vsidx
/.vs/FormDemoSolution/FileContentIndex/dab1b6a6-0e3e-43ec-952b-8fd36c73e989.vsidx
/.vs/FormDemoSolution/FileContentIndex/972d5212-80f8-498f-884a-89d7d5d19e1e.vsidx
/.vs/FormDemoSolution/FileContentIndex/83b1d8cd-2fd9-4e79-b858-9f24fefc8dab.vsidx
/.vs/FormDemoSolution/FileContentIndex/2e23b5fe-e98a-4696-b148-d5889532d50d.vsidx
/.vs/FormDemoSolution/FileContentIndex/136cf17f-c082-49ad-b7e7-9b09e404566a.vsidx
/.vs/FormDemoSolution/FileContentIndex/7c459fe8-c53b-413e-bdce-e27274496539.vsidx
/.vs/FormDemoSolution/FileContentIndex/7c459fe8-c53b-413e-bdce-e27274496539.vsidx
/.vs/FormDemoSolution/FileContentIndex/6c5cd977-7166-452f-9a8b-747908841f7e.vsidx
/.vs/FormDemoSolution/FileContentIndex/247f1f2c-6569-4e28-845e-dbf8931cfb9e.vsidx
/.vs/FormDemoSolution/FileContentIndex/68dba2d3-9504-468b-84e2-4a254966aea7.vsidx
/.vs/FormDemoSolution/FileContentIndex/a3c8c2a6-1c37-43c4-82c2-b3bc5c4ef0b4.vsidx
/.vs/FormDemoSolution/FileContentIndex/5f6862a2-edbe-464e-bb51-f5c50e1b8f53.vsidx
/.vs/FormDemoSolution/FileContentIndex/c5607a62-4afe-4ba4-b1bf-fab4c0933bfe.vsidx
/.vs/FormDemoSolution/FileContentIndex/dd51ab23-6c26-4547-88da-8e6599dfc77c.vsidx
/.vs/FormDemoSolution/FileContentIndex/dce962e8-e522-4b49-976e-f0e4dbde2396.vsidx
/.vs/FormDemoSolution/FileContentIndex/bae6f38f-c2a5-4222-9c12-f578462a38d3.vsidx
/.vs/FormDemoSolution/FileContentIndex/96acd927-cbb3-40a9-8187-069595fa93a0.vsidx
/.vs/FormDemoSolution/FileContentIndex/34bae639-3378-463a-9448-feb558ed771a.vsidx
/.vs/FormDemoSolution/FileContentIndex/9f899612-8ba1-486f-975b-1d82f3ce03a8.vsidx
/.vs/FormDemoSolution/FileContentIndex/68050f9e-b694-4952-b074-ffad94937167.vsidx
/.vs/FormDemoSolution/FileContentIndex/3b1e0f3e-8dce-4d7e-8915-07216bd7e48c.vsidx
/.vs/FormDemoSolution/FileContentIndex/05a1dc8c-8f8c-41ec-a875-1cb25f0695c6.vsidx
/.vs/FormDemoSolution/FileContentIndex/ed00280b-bbda-45d0-ad00-d89e081ee67c.vsidx
/.vs/FormDemoSolution/FileContentIndex/267ec6df-b1ef-4edc-9b2e-4e9233ce9948.vsidx
/.vs/FormDemoSolution/FileContentIndex/09cd5c01-a8e1-45af-9753-8888ab36c109.vsidx
/.vs/FormDemoSolution/FileContentIndex/d3ecf5f1-d143-4c25-bb95-9c7b997af7dc.vsidx
/.vs/FormDemoSolution/FileContentIndex/bdef423f-8621-4eba-ae96-e63674ad2dfe.vsidx
/.vs/FormDemoSolution/FileContentIndex/b318da18-fc8e-47f0-af02-f058f5d45caa.vsidx
/.vs/FormDemoSolution/FileContentIndex/719e0127-2c5f-4b01-a4b5-bb5363727cbd.vsidx
/.vs/FormDemoSolution/FileContentIndex/1baffab6-ef74-4f5d-beaa-2f85aae0b67d.vsidx
/.vs/FormDemoSolution/FileContentIndex/fd4e980b-6440-4263-b862-97858cee7817.vsidx
/.vs/FormDemoSolution/FileContentIndex/a3389783-a24c-4513-93b1-012e59fdcb3d.vsidx
/.vs/FormDemoSolution/FileContentIndex/35393021-d312-43dd-ab8f-0266fef214ba.vsidx
/.vs/FormDemoSolution/FileContentIndex/32116b39-a007-41ba-9f66-2096681c0ba7.vsidx
/.vs/FormDemoSolution/FileContentIndex/798bf1c9-dabf-40be-bd84-a6e86652ca53.vsidx
/.vs/FormDemoSolution/FileContentIndex/c83f0f4b-7847-40be-98d8-00956d1d8ce1.vsidx
/.vs/FormDemoSolution/FileContentIndex/c69121e8-e6e9-4575-8e5b-9fcd7d490acc.vsidx
/.vs/FormDemoSolution/FileContentIndex/2e87740e-525a-413c-9cac-cb02fa8bc82b.vsidx
/.vs/FormDemoSolution/FileContentIndex/bc47daea-0d14-47b6-8536-31ae2ec9f8d7.vsidx
/.vs/FormDemoSolution/FileContentIndex/12f854dc-dd89-4bce-a28f-4b950a0f9d8d.vsidx
/.vs/FormDemoSolution/FileContentIndex/66710a04-c324-4934-8d5d-36848d171d02.vsidx
/.vs/FormDemoSolution/FileContentIndex/0a60c30f-b5cc-4a3a-97b4-4562acde5842.vsidx
/.vs/FormDemoSolution/FileContentIndex/ff6905aa-e3de-4f80-aa5a-4dd110583d11.vsidx
/.vs/FormDemoSolution/FileContentIndex/904b1083-f9b7-4bd4-9d2c-de6d3567d909.vsidx
/.vs/FormDemoSolution/FileContentIndex/afabe2e5-86f0-44d0-b257-5e5c1173f4fe.vsidx
/.vs/FormDemoSolution/FileContentIndex/e2959ecd-a6e7-47ec-92b9-7fca0d038b8c.vsidx
/.vs/FormDemoSolution/FileContentIndex/c4a7c21a-d6c4-4693-b6fa-8b487348a68e.vsidx
/.vs/FormDemoSolution/FileContentIndex/52ba2da0-3786-4a32-a409-31edf088462b.vsidx
/.vs/FormDemoSolution/FileContentIndex/fb168895-a4b9-428c-99bd-237bbcf0fb51.vsidx
/.vs/FormDemoSolution/FileContentIndex/3ad72467-6e02-4dcd-ab55-978773384b91.vsidx
/.vs/FormDemoSolution/v17/fileList.bin
/.vs/FormDemoSolution
/FormDemo/uSync
/FormDemo/Views.zip
/FormDemo/umbraco
