<footer class="site-footer">
    <div class="container">
        <div class="site-footer-top">
            <!-- Footer left side content -->
            <div class="site-footer-left">
                <a href="#" class="footer-logo">

                    <h2>GOV.BN</h2>

                </a>
                <div class="site-footer-left-inner">
                    <p>
                        Simplifying your access to government information means putting everything
                        you need in one place, clear, reliable, and easy to find.Simplifying your
                        access to government information means putting everything you need in one
                        place, clear, reliable, and easy to find.
                    </p>
                    <div class="social-links">
                        <ul>
                            <li>
                                <a href="#"><i class="social-icon icon-fb"></i><span>facebook</span></a>

                            </li>
                            <li>
                                <a href="#"><i class="social-icon icon-yt"></i><span>youtube</span></a>

                            </li>
                            <li>
                                <a href="#"><i class="social-icon icon-ig"></i><span>Instagram</span></a>

                            </li>
                            <li>
                                <a href="#"><i class="social-icon icon-x"></i><span>X</span></a>

                            </li>
                            <li>
                                <a href="#"><i class="social-icon icon-tel"></i><span>Telegram</span></a>

                            </li>
                        </ul>
                    </div>
                    <div class="search-box">
                        <p>Search to quickly find any service or information you need.</p>
                        <form action="#">
                            <input type="text" placeholder="Search this site" name="search" aria-label="Search">
                            <button type="submit" aria-label="Submit search">
                                <i class="search-icon"></i>

                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Footer right side content -->
            <div class="site-footer-right">
                <div class="footer-col">
                    <h5>Services Categories</h5>
                    <ul>
                        <li>
                            <a href="#">Business & Finance</a>

                        </li>
                        <li>
                            <a href="#">Education & Learning</a>

                        </li>
                        <li>
                            <a href="#">Employment & Labour</a>

                        </li>
                        <li>
                            <a href="#">Family & Social Welfare</a>

                        </li>
                        <li>
                            <a href="#">Health & Safety</a>

                        </li>
                        <li>
                            <a href="#">House, Land & Environment</a>

                        </li>
                        <li>
                            <a href="#">Immigration & Travel</a>

                        </li>
                        <li>
                            <a href="#">Law</a>

                        </li>
                        <li>
                            <a href="#">Religious Affairs</a>

                        </li>
                        <li>
                            <a href="#">Transportation</a>

                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h5>Useful Links</h5>
                    <ul>
                        <li>
                            <a href="#">Business</a>

                        </li>
                        <li>
                            <a href="#">Visitors</a>

                        </li>
                        <li>
                            <a href="#">Government Directory</a>

                        </li>
                        <li>
                            <a href="#">e - Darussalam</a>

                        </li>
                        <li>
                            <a href="#">Reach Us</a>

                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h5>Quick Links</h5>
                    <ul>
                        <li>
                            <a href="#">About GOV.BN</a>

                        </li>
                        <li>
                            <a href="#">Reach Us</a>

                        </li>
                        <li>
                            <a href="#">Rate the Website</a>

                        </li>
                        <li>
                            <a href="#">Site Map</a>

                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>

                        </li>
                        <li>
                            <a href="#">Sitemap</a>

                        </li>
                        <li>
                            <a href="#">Disclaimer</a>

                        </li>
                        <li>
                            <a href="#">Terms of Use</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer-bottom">
        <div class="container">
            <p>© 2025 Government of Brunei Darussalam. All rights reserved.</p>
        </div>
    </div>
</footer>
